{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "quoteProps": "preserve",
  "bracketSameLine": false,
  "objectCurlySpacing": "always",
  "arrowParens": "always",
  "arrowFunctionParentheses": "always",
  "noInlineConfig": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
